<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('厂商明细列表')" />
</head>
<body class="gray-bg">

     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<input type="hidden" id="deptId" name="deptId" th:value="${deptId}">
					<div class="select-list">
						<ul>
							<li>
								装车点：<input type="text" name="cjPalce"/>
							</li>
							<li>
								出货日期：<input type="text" name="cjWriterTime"/>
							</li>
							<li>
								防冻液类型：<select name="cjType" th:with="type=${@dict.getType('cj_Antifreeze_type')}">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:cDetailed:add">
					<i class="fa fa-plus"></i> 添加销售记录
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:cDetailed:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:cDetailed:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:cDetailed:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:cDetailed:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:cDetailed:remove')}]];
		var types = [[${@dict.getType('cj_Antifreeze_type')}]];
        var prefix = ctx + "system/cDetailed";
        $(function() {
        	var userDeptId =$("input[name='deptId']").val();
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "厂商明细",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'cjId', 
					title : '序号',
					visible: true
				},
				{
					field : 'cjDept', 
					title : '货用中心'
				},
				{
					field : 'cjYydept', 
					title : '营业部'
				},
				{
					field : 'cjYywd', 
					title : '营业网点'
				},
				{
					field : 'cjPalce', 
					title : '装车点'
				},
				{
					field : 'cjShipment', 
					title : '核算防冻液量',
					sortable: true
				},
					{
						field: 'cjType',
						title: '产品类型',
						align: 'center',
						formatter: function(value, row, index) {
							return $.table.selectDictLabel(types, value);
						}
					},
				{
					field : 'cjWriterTime', 
					title : '出货时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.cjId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.cjId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>