<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改培训课件')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-train-edit" th:object="${train}">
            <input id="trainId" name="trainId" th:field="*{trainId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">培训课件名称：</label>
				<div class="col-sm-8">
					<input id="trainFileName" name="trainFileName" th:field="*{trainFileName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">培训课件创建时间：</label>
				<div class="col-sm-8">
					<input id="trainCreatetime" name="trainCreatetime" th:field="*{trainCreatetime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">培训课件创建人：</label>
				<div class="col-sm-8">
					<input id="trainCreatename" name="trainCreatename" th:field="*{trainCreatename}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">培训课件备注：</label>
				<div class="col-sm-8">
					<input id="trainRemarks" name="trainRemarks" th:field="*{trainRemarks}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">培训课件备用：</label>
				<div class="col-sm-8">
					<input id="trainSpare" name="trainSpare" th:field="*{trainSpare}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">培训课程标题：</label>
				<div class="col-sm-8">
					<input id="trainTitile" name="trainTitile" th:field="*{trainTitile}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/train";
		$("#form-train-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-train-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
